html{
	background-color: #20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

body{
	background-color: #20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

.container{
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	align-items: center;
	flex-direction: center;
}