html{
	background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

body{
	background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);

}

.container{
	display: flex;
	margin: 10px;
}